*{
    padding: 0;
    margin: 0;
}
body{
    font-family: arial;
}

h1{
    text-align: center;
}
.centrar{
    text-align: center;
}
.contenedor{
    width: 1200px;
    padding: auto;
}

header{
    background-color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
}
header img{
    width: 25%;
    
}
.logo{
    color: white;
    font-family: arial;
    font-size: 20px; 
    display:flex;
    text-align: center;
  

}

.menu{
    list-style: none;
    display: flex;
    margin-left: auto;
    margin-right: 30px;
}

.menu li a{
    text-decoration: none;
    color: white;
    padding: 5px 10px;
}

.menu li a:hover{
    color: #cfc50e;
}

.botones{
    display: flex;
    gap: 10px;
}

.primer-boton{
    background-color: white;
    color: #007bff;
    border: 2px solid #007bff;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
  
.segundo-boton{
    background-color: #007bff;
    color: white;
    border: 2px solid #007bff;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.primer-boton:hover {
    background-color: #007bff;
    color: white;
}

.segundo-boton:hover {
    background-color: white;
    color: #007bff;
}

/*main*/

main{
    padding: 10px 120px;
    
}
.box1{
    display: flex;
    align-items:center;

}

.indice{
    background-color: orangered;
    width: 100px;
    padding: 100px ;
    width: 200%;
    margin: 40px;
    text-align: left;
    
}


.imagen1 img{
    width: 80%;
    padding: 100px;
    margin: 20px;
}
.imagen2 img{
    width: 300px;
    padding: 20px;
    margin: 20px;
}

/*Servicios*/

.srv{
    text-align: center;
    display: flex;
}

.datosSrv{
    background-color: rgb(251, 95, 17);
    flex-direction: row;
    width: 33.3%;
    padding: 30px;
    margin:20px;
    display: flex;
    align-items: center;
}

.textoSrv{
    width: 50%;
    margin: 5px;
    text-align: left;
}


.fotoSrv{
    width: 80%;
    margin: 5px;
}

.fotoSrv img{
    width: 90%;
    padding: 20px ;
    margin:20px;
    display: flex;
}

/*Comunidad*/

.com{
    text-align: center;
    width: 100%;
}

.banner img{
    width: 1200px;
}
.datosCom{
    text-align: center;
    display: flex;
}

.itemsCom{
    background-color: rgb(251, 95, 17);
    flex-direction: row;
    width: 33.3%;
    padding: 30px;
    margin:20px;
    display: flex;
    align-items: center;
}

.textCom{
    width: 50%;
    margin: 5px;
    text-align: left;
}

.fotoCom{
    width: 50%;
    margin: 5px;
}

.fotoCom img{
    width: 90%;
    padding: 20px ;
    margin:20px;
    display: flex;
}

/*Sobre Nosotros*/

.we{
    background-color: rgb(251, 95, 17);
    display: flex;
    justify-content: space-around;
}

/* Sobre Nosotros*/

.datosWe{
    width: 300px;
    padding: 30px;
    margin: 20px;
    text-align: center;
}

.textWe{
    width: 50%;
    margin: 30px;
    text-align: center;
}

.fotoWe{
    width: 50%;
    margin: 0;
}

.fotoWe img{
    width: 300px;
}

footer{
    background-color: black;
    padding: 10px 20px;
}

.footer{
    padding: 10px;
    margin: 20px;
    display: flex;
    width: 100;

}

.footer h3{
    color: white;
}

.datosFooter{
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    width: 400px;

}

.textFooter img{
    width: 200px;
}

.fotoFooter img{
    width: 20px;
}

/*Chat en Vivo*/

.input{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    width: 900px;
}
.textarea{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    width: 400px;
}
.textareacomen{
    display: flex;
    border-radius: 10px;
    padding: 10px;
    width: 100;
    height: 120px;
}
.boton2{
    background-color: #20C997;
    color: white;
    text-decoration: none;
    border: 2px solid #20C997;
    padding: 5px 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.boton2:hover {
    background-color: white;
    color: #20C997;
}